.bgConfig{
  	padding-top: 10rem;
  	padding-bottom: calc(10rem - 4.5rem);
  	background-color: #F4F1DE;
  	background-position: center;
 	background-repeat: no-repeat;
 	background-attachment: scroll;
  	background-size: cover;
}
