.bgPreparation{
  	padding-top: 10rem;
  	padding-bottom: calc(10rem - 4.5rem);
  	background-image: url("../img/background/background2.png");
  	background-position: center;
 	background-repeat: no-repeat;
 	background-attachment: scroll;
  	background-size: cover;
}

.grid{
	margin-right : 18%;
}

.scene{
	margin-top : 10%;
}

.btnTurn{
	color : black;
}

#btnFinish{
	color : black;
}

.btnForfeit{
	color : black;
}

.btnStore{
	color : black;
}

.weapon{
	width : 12%;
}

.boatTab{
	border : solid;
	border-image: linear-gradient(to right, white, #DB8356) 1;
}