.bgPreparation{
  	padding-top: 10rem;
  	padding-bottom: calc(10rem - 4.5rem);
  	background-image: url("../img/background/background2.png");
  	background-position: center;
 	background-repeat: no-repeat;
 	background-attachment: scroll;
  	background-size: cover;
}

.btnBack{
	color : black;
}

.bgWeapon{
	background-color : black;
	width : 100%;
}