.bgPreparation{
  	padding-top: 10rem;
  	padding-bottom: calc(10rem - 4.5rem);
  	background-image: url("../img/background/background2.png");
  	background-position: center;
 	background-repeat: no-repeat;
 	background-attachment: scroll;
  	background-size: cover;
}

.grid{
	margin-right : 20%;
}

.scene{
	margin-top : 10%;
}

.btnTurn{
	color : black;
}

#btnFinish{
	color : black;
}