.title{
	color : #272838;
	font-size : 500%;
	position: absolute;
	left: 8%;
	top: 3%;
}

.navItemText{
	color : #272838!important;
	font-size : 200%!important;
}

.bg{
  	padding-top: 10rem;
  	padding-bottom: calc(10rem - 4.5rem);
  	background-image: url("../img/background/background2.png");
  	background-position: center;
 	background-repeat: no-repeat;
 	background-attachment: scroll;
  	background-size: cover;
}

.bgFoot{
	background : #F4F1DE;
}