<!DOCTYPE html>
<html lang="en">



    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>| Faster Than Sea |</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <link href="/css/styles.css" rel="stylesheet"/>
        <link href="/css/layout.css" rel="stylesheet"/>
        <link href="/css/gamePreparation.css" rel="stylesheet"/>
    </head>
    
    
    
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <a class="title">PREPARATION</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </nav>
        
        
        
        <!-- Masthead-->
        <header class="bgPreparation">
        
        	<a class="btnStore text-center" th:href="@{'/game/store/' + ${numShipSelected} + '/' + ${isVertical}}">											 
		     	<h1> STORE </h1>
			</a>
        
	        <div class="container-fluid">
			  	<div class="row content">
			  	
			  		<!-- SHIPS SELECTION -->
			    	<div class="col-sm-3 sidenav boatTab">
				     	<h4>Your boats :</h4>
				     	
						<!-- AIRCRAFT -->
						<div class="col-sm-9">
							<div class="text-center">
								<a th:href="@{'/game/preparation/0/' + ${isVertical}}">
									<img th:if="${numShipSelected == 0 && !boats[0].getIsPlaced()}" src="/img/ship/selected/aircraftCarrier.png">
						        	<img draggable="false" th:if="${numShipSelected != 0 && !boats[0].getIsPlaced()}" src="/img/ship/normal/aircraftCarrier.png">
						        </a>
						        <img draggable="false" th:if="${boats[0].getIsPlaced()}" src="/img/ship/empty/aircraftCarrier.png">
					    	</div>
					        
					        <h5 th:text="${boats[0].getName()}" class="text-center"> Aircraft Carrier </h5>
					        
					        <!-- WEAPONS -->
					        <div th:if="${!boats[0].getIsPlaced() && numShipSelected == 0}">
						        <!-- AVAILABLE -->
					        	<a class="btnTurn" th:if="${weapons.get(0).getIsBuy() && !weapons.get(0).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(0).getName()} + '/' + ${boats[0].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/torpedo.png" alt="torpedo">
					        	</a>
					        	
					        	<a class="btnTurn" th:if="${weapons.get(1).getIsBuy() && !weapons.get(1).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(1).getName()} + '/' + ${boats[0].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/bomb.png" alt="bomb">
					        	</a>
					        	
					        	<a class="btnTurn" th:if="${weapons.get(2).getIsBuy() && !weapons.get(2).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(2).getName()} + '/' + ${boats[0].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/mortar.png" alt="mortar">
					        	</a>
						    	
						    	<!-- NOT AVAILABLE -->
						    	<img th:if="${!weapons.get(0).getIsBuy() || weapons.get(0).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/torpedo.png" alt="torpedo">
						    	<img th:if="${!weapons.get(1).getIsBuy() || weapons.get(1).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/bomb.png" alt="bomb">
						    	<img th:if="${!weapons.get(2).getIsBuy() || weapons.get(2).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/mortar.png" alt="mortar">
						    </div>
						    
					        <a class="btnTurn" th:if="${boats[0].getIsPlaced()}" th:href="@{'/game/preparation/reset/0/' + ${isVertical}}">Reset</a>
					  	</div>
							
						<!-- CRUISER -->
						<div class="col-sm-9">
							<div class="text-center">
								<a th:href="@{'/game/preparation/1/' + ${isVertical}}">
						        	<img th:if="${numShipSelected == 1 && !boats[1].getIsPlaced()}" src="/img/ship/selected/cruiser.png">
						        	<img draggable="false" th:if="${numShipSelected != 1 && !boats[1].getIsPlaced()}" src="/img/ship/normal/cruiser.png">
						        </a>
						        <img draggable="false" th:if="${boats[1].getIsPlaced()}" src="/img/ship/empty/cruiser.png">
					    	</div>
					        
					        <h5 th:text="${boats[1].getName()}" class="text-center"> Cruiser </h5>
					        
					        <!-- WEAPONS -->
					        <div th:if="${!boats[1].getIsPlaced() && numShipSelected == 1}">
						        <!-- AVAILABLE -->
					        	<a class="btnTurn" th:if="${weapons.get(0).getIsBuy() && !weapons.get(0).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(0).getName()} + '/' + ${boats[1].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/torpedo.png" alt="torpedo">
					        	</a>
					        	
					        	<a class="btnTurn" th:if="${weapons.get(1).getIsBuy() && !weapons.get(1).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(1).getName()} + '/' + ${boats[1].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/bomb.png" alt="bomb">
					        	</a>
					        	
					        	<a class="btnTurn" th:if="${weapons.get(2).getIsBuy() && !weapons.get(2).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(2).getName()} + '/' + ${boats[1].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/mortar.png" alt="mortar">
					        	</a>
						    	
						    	<!-- NOT AVAILABLE -->
						    	<img th:if="${!weapons.get(0).getIsBuy() || weapons.get(0).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/torpedo.png" alt="torpedo">
						    	<img th:if="${!weapons.get(1).getIsBuy() || weapons.get(1).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/bomb.png" alt="bomb">
						    	<img th:if="${!weapons.get(2).getIsBuy() || weapons.get(2).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/mortar.png" alt="mortar">
						    </div>
						    
					        <a class="btnTurn" th:if="${boats[1].getIsPlaced()}" th:href="@{'/game/preparation/reset/1/' + ${isVertical}}">Reset</a>
					  	</div>
					  	
					  	<!-- DESTROYER -->
						<div class="col-sm-9">
							<div class="text-center">
								<a th:href="@{'/game/preparation/2/' + ${isVertical}}">
						        	<img th:if="${numShipSelected == 2 && !boats[2].getIsPlaced()}" src="/img/ship/selected/destroyer.png">
						        	<img draggable="false" th:if="${numShipSelected != 2 && !boats[2].getIsPlaced()}" src="/img/ship/normal/destroyer.png">
						        </a>
						        <img draggable="false" th:if="${boats[2].getIsPlaced()}" src="/img/ship/empty/destroyer.png">
					    	</div>
					        
					        <h5 th:text="${boats[2].getName()}" class="text-center"> Destroyer </h5>
					        
					        <!-- WEAPONS -->
					        <div th:if="${!boats[2].getIsPlaced() && numShipSelected == 2}">
						        <!-- AVAILABLE -->
					        	<a class="btnTurn" th:if="${weapons.get(0).getIsBuy() && !weapons.get(0).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(0).getName()} + '/' + ${boats[2].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/torpedo.png" alt="torpedo">
					        	</a>
					        	
					        	<a class="btnTurn" th:if="${weapons.get(1).getIsBuy() && !weapons.get(1).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(1).getName()} + '/' + ${boats[2].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/bomb.png" alt="bomb">
					        	</a>
					        	
					        	<a class="btnTurn" th:if="${weapons.get(2).getIsBuy() && !weapons.get(2).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(2).getName()} + '/' + ${boats[2].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/mortar.png" alt="mortar">
					        	</a>
						    	
						    	<!-- NOT AVAILABLE -->
						    	<img th:if="${!weapons.get(0).getIsBuy() || weapons.get(0).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/torpedo.png" alt="torpedo">
						    	<img th:if="${!weapons.get(1).getIsBuy() || weapons.get(1).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/bomb.png" alt="bomb">
						    	<img th:if="${!weapons.get(2).getIsBuy() || weapons.get(2).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/mortar.png" alt="mortar">
						    </div>
						    
					        <a class="btnTurn" th:if="${boats[2].getIsPlaced()}" th:href="@{'/game/preparation/reset/2/' + ${isVertical}}">Reset</a>
					  	</div>
					  	
					  	<!-- SUBMARINE -->
						<div class="col-sm-9">
							<div class="text-center">
								<a th:href="@{'/game/preparation/3/' + ${isVertical}}">
						        	<img th:if="${numShipSelected == 3 && !boats[3].getIsPlaced()}" src="/img/ship/selected/submarine.png">
						        	<img draggable="false" th:if="${numShipSelected != 3 && !boats[3].getIsPlaced()}" src="/img/ship/normal/submarine.png">
						        </a>
						        <img draggable="false" th:if="${boats[3].getIsPlaced()}" src="/img/ship/empty/submarine.png">
					    	</div>
					        
					        <h5 th:text="${boats[3].getName()}" class="text-center"> Submarine </h5>
					        
					        <!-- WEAPONS -->
					        <div th:if="${!boats[3].getIsPlaced() && numShipSelected == 3}">
						        <!-- AVAILABLE -->
					        	<a class="btnTurn" th:if="${weapons.get(0).getIsBuy() && !weapons.get(0).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(0).getName()} + '/' + ${boats[3].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/torpedo.png" alt="torpedo">
					        	</a>
					        	
					        	<a class="btnTurn" th:if="${weapons.get(1).getIsBuy() && !weapons.get(1).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(1).getName()} + '/' + ${boats[3].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/bomb.png" alt="bomb">
					        	</a>
					        	
					        	<a class="btnTurn" th:if="${weapons.get(2).getIsBuy() && !weapons.get(2).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(2).getName()} + '/' + ${boats[3].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/mortar.png" alt="mortar">
					        	</a>
						    	
						    	<!-- NOT AVAILABLE -->
						    	<img th:if="${!weapons.get(0).getIsBuy() || weapons.get(0).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/torpedo.png" alt="torpedo">
						    	<img th:if="${!weapons.get(1).getIsBuy() || weapons.get(1).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/bomb.png" alt="bomb">
						    	<img th:if="${!weapons.get(2).getIsBuy() || weapons.get(2).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/mortar.png" alt="mortar">
						    </div>
						    
					        <a class="btnTurn" th:if="${boats[3].getIsPlaced()}" th:href="@{'/game/preparation/reset/3/' + ${isVertical}}">Reset</a>
					  	</div>
					  	
					  	<!-- TORPEDO -->
						<div class="col-sm-9">
							<div class="text-center">
								<a th:href="@{'/game/preparation/4/' + ${isVertical}}">
						        	<img th:if="${numShipSelected == 4 && !boats[4].getIsPlaced()}" src="/img/ship/selected/torpedo.png">
						        	<img draggable="false" th:if="${numShipSelected != 4 && !boats[4].getIsPlaced()}" src="/img/ship/normal/torpedo.png">
						        </a>
						        <img draggable="false" th:if="${boats[4].getIsPlaced()}" src="/img/ship/empty/torpedo.png">
					    	</div>
					        
					        <h5 th:text="${boats[4].getName()}" class="text-center"> Torpedo </h5>
					        
					        <!-- WEAPONS -->
					        <div th:if="${!boats[4].getIsPlaced() && numShipSelected == 4}">
						        <!-- AVAILABLE -->
					        	<a class="btnTurn" th:if="${weapons.get(0).getIsBuy() && !weapons.get(0).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(0).getName()} + '/' + ${boats[4].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/torpedo.png" alt="torpedo">
					        	</a>
					        	
					        	<a class="btnTurn" th:if="${weapons.get(1).getIsBuy() && !weapons.get(1).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(1).getName()} + '/' + ${boats[4].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/bomb.png" alt="bomb">
					        	</a>
					        	
					        	<a class="btnTurn" th:if="${weapons.get(2).getIsBuy() && !weapons.get(2).isActive()}" 
					        		th:href="@{'/game/preparation/set/' + ${weapons.get(2).getName()} + '/' + ${boats[4].getId()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					        		<img class="card-img-top weapon" src="/img/weapon/normal/mortar.png" alt="mortar">
					        	</a>
						    	
						    	<!-- NOT AVAILABLE -->
						    	<img th:if="${!weapons.get(0).getIsBuy() || weapons.get(0).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/torpedo.png" alt="torpedo">
						    	<img th:if="${!weapons.get(1).getIsBuy() || weapons.get(1).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/bomb.png" alt="bomb">
						    	<img th:if="${!weapons.get(2).getIsBuy() || weapons.get(2).isActive()}" class="card-img-top weapon" src="/img/weapon/empty/mortar.png" alt="mortar">
						    </div>
						    
					        <a class="btnTurn" th:if="${boats[4].getIsPlaced()}" th:href="@{'/game/preparation/reset/4/' + ${isVertical}}">Reset</a>
					  	</div>
					  								
					</div>
			    
			    
			    
				<!-- SCENE -->
			    <div class="col-sm-9">
			    	<div class="container">
			    		<a class="btnTurn" th:href="@{'/game/preparation/' + ${numShipSelected} + '/' + 'true'}">
			    			<h3> Turn Vertical</h3>
			    		</a>
			    		<a class="btnTurn" th:href="@{'/game/preparation/' + ${numShipSelected} + '/' + 'false'}">
			    			<h3> Turn Horizontal </h3>
			    		</a>
						<div class="row">
				
							<!-- PLAYER TAB -->
  							<div class="grid col-md-4">
  								<table class="table-bordered scene">
				
									<thead>
									    <tr class="text-center">
									    	<th scope="col"></th>
										    <th scope="col">A</th>
										    <th scope="col">B</th>
										    <th scope="col">C</th>
										    <th scope="col">D</th>
										    <th scope="col">E</th>
										    <th scope="col">F</th>
										    <th scope="col">G</th>
										    <th scope="col">H</th>
										    <th scope="col">I</th>
										    <th scope="col">J</th>
									    </tr>
									</thead>
							
									<tbody>
										<tr th:each="x : ${#numbers.sequence(0, 9)}">
											<td th:each="y : ${#numbers.sequence(-1, 9)}">											
												<h5 class="text-center" th:if="${y == -1}" th:text="${x+1}"></h5>
												
												<!-- WATER SQUARE -->
												<a th:if="${y != -1}">
											     	<img th:id="${y + ',' + x + ',' + numShipSelected + ',' + isVertical}" ondrop="drop(this, event)" 
											     	ondragover="allowDrop(event)" th:if="${squares.get(x + y*10).getState().compareTo('e') == 0}" src="/img/square/water.png">
												</a>
												
												<!-- BOAT SQUARE -->
												<img th:if="${y != -1 && squares.get(x + y*10).getState().compareTo('e') != 0}" src="/img/square/boat.png">
											
											</td>
										</tr>
									</tbody>
						
								</table>							
							</div>
						</div>
					</div>
					
				</div>
        </header>
        
        
        <a id="btnFinish" class="text-center" th:if="${boats[0].getIsPlaced() && boats[1].getIsPlaced() && boats[2].getIsPlaced() && boats[3].getIsPlaced()
			 && boats[4].getIsPlaced()}" th:href="@{'/game/fight'}">
		 	<h2>GO TO FIGHT</h2>
		 </a>
   
        
        <!-- Footer-->
        <footer class="bgFoot py-5">
            <div class="container">
            	<div class="small text-center text-muted">Created by DOURVILLE Gaïan, BONNARIC Nicolas, SMANIOTTO Gabriel</div>
            </div>
        </footer>
        
        
        
        <!-- Bootstrap core JS-->
        <script src="/js/gamePreparation.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
