<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>| Faster Than Sea |</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <link href="/css/styles.css" rel="stylesheet"/>
        <link href="/css/layout.css" rel="stylesheet"/>
    </head>
    
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <a class="title" th:href="@{game/configuration}">FASTER THAN SEA</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            
            <div sec:authorize="!isAuthenticated()" class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    	<a class="nav-link navItemText" href="/register">Register</a>
                    </li>
                    <li id="signIn" class="nav-item">
                    	<a class="nav-link navItemText" href="/login">Sign in</a>
                    </li>
                </ul>
            </div>
            <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    	<div class="nav-link navItemText">Bonjour <span sec:authentication="name"></span>&nbsp;(<a th:href="@{/logout}" href="#">Déconnexion</a>)</div>
                    </li>
                </ul>
            </div>
            
            
        </nav>
        
        
        <!-- Masthead-->
        <header class="masthead"></header>
        
        
        <!-- About-->
        <section class="bg page-section" id="about">
            <div class="container">
                <div class="justify-content-center">
                    <div class="text-center">
                        <h2 class="text-white mt-0">Previous game(s) :</h2>
                        <br>
                        
                        <div th:each="game : ${scores}">
                        	<div th:if="${game.getIsFinish() == true}">
                        		<h3 th:if="${game.getIsWon() == true}" th:text="${game.getPlayers().get(0).getName()} + ' has won'">No previous win</h3>
                        		<h3 th:if="${game.getIsWon() != true}" th:text="${game.getPlayers().get(0).getName()} + ' has loose'">No previous win</h3>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <!-- Footer-->
        <footer class="bgFoot py-5">
            <div class="container">
            	<div class="small text-center text-muted">Created by DOURVILLE Gaïan, BONNARIC Nicolas, SMANIOTTO Gabriel</div>
            </div>
        </footer>
        
        
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
