<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>| Faster Than Sea |</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <link href="/css/styles.css" rel="stylesheet"/>
        <link href="/css/layout.css" rel="stylesheet"/>
        <link href="/css/gamePreparation.css" rel="stylesheet"/>
    </head>
    
    
    
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <a class="title"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </nav>
        
        
        <div>
        
         <div th:fragment="content">
			<form name="f" th:action="@{/login}" method="post">
				<fieldset>
					<legend>Authentification</legend>
					<div th:if="${param.error}" class="alert alert-error">
						L'identifiant et le mot de passe sont invalides
					</div>
					<div th:if="${param.logout}" class="alert alert-success">
						Vous avez été déconnecté
					</div>
					
					<label for="username">Identifiant</label>
					<input type="text" id="username" name="username" autocomplete="off"/>
					<label for="password">Mot de passe</label>
					<input type="password" id="password" name="password" autocomplete="off"/>
					<div class="form-actions">
						<button type="submit" class="btn" th:href="@{/home}">Connexion</button>
					</div>
				</fieldset>
			</form>
			
			<br>
			<a class="text-center" th:href="@{'/'}">											 
		     	<h3> BACK </h3>
			</a>
		</div>
    </div>
        
        
        <!-- Footer-->
        <footer class="bgFoot py-5">
            <div class="container">
            	<div class="small text-center text-muted">Created by DOURVILLE Gaïan, BONNARIC Nicolas, SMANIOTTO Gabriel</div>
            </div>
        </footer>
        
        
        
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>