<!DOCTYPE html>
<html lang="en">



    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>| Faster Than Sea |</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <link href="/css/styles.css" rel="stylesheet"/>
        <link href="/css/layout.css" rel="stylesheet"/>
        <link href="/css/store.css" rel="stylesheet"/>
    </head>
    
    
    
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <a class="title">STORE</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </nav>
        
        
        
        <!-- Masthead-->
        <header class="bgPreparation">
        	<a class="btnBack text-center" th:href="@{'/game/preparation/' + ${numShipSelected} + '/' + ${isVertical}}">											 
		     	<h1> BACK </h1>
			</a>

        	
        	<div class="container">
        		<h4>Choose a weapon :</h4>
        		<br>
        		
        		<div class="card-deck">
        		
        			<!-- TORPEDO -->
				  	<div class="card">
					  	<a th:if="${!weapons.get(0).getIsBuy()}" th:href="@{'/game/store/buy/' + ${weapons.get(0).getName()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					    	<img class="card-img-top bgWeapon" src="/img/weapon/normal/torpedo.png" alt="torpedo">
					    	<div class="card-body">
					      		<h5 class="card-title" th:text="${weapons.get(0).getName()}">none</h5>
					      		<p class="card-text" th:text="${weapons.get(0).getDescription()}">Description</p>
					    	</div>
				    	</a>
				    	
				    	<div th:if="${weapons.get(0).getIsBuy()}">
					    	<img class="card-img-top bgWeapon" src="/img/weapon/empty/torpedo.png" alt="torpedo">
					    	<div class="card-body">
					      		<h5 class="card-title" th:text="${weapons.get(0).getName()}">none</h5>
					      		<p class="card-text" th:text="${weapons.get(0).getDescription()}">Description</p>
					      		<a class="btnBack text-center" th:if="${!weapons.get(0).isActive()}" th:href="@{'/game/store/sell/' + ${weapons.get(0).getName()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					      		  	<h5> Sell </h5>
								</a>
					    	</div>
				    	</div>
				    	
				  	</div>
					
				  	
				  	<!-- BOMB -->
				  	<div class="card">
					  	<a th:if="${!weapons.get(1).getIsBuy()}" th:href="@{'/game/store/buy/' + ${weapons.get(1).getName()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					    	<img class="card-img-top bgWeapon" src="/img/weapon/normal/bomb.png" alt="bomb">
					    	<div class="card-body">
					      		<h5 class="card-title" th:text="${weapons.get(1).getName()}">none</h5>
					      		<p class="card-text" th:text="${weapons.get(1).getDescription()}">Description</p>
					    	</div>
				    	</a>
				    	
				    	<div th:if="${weapons.get(1).getIsBuy()}">
					    	<img class="card-img-top bgWeapon" src="/img/weapon/empty/bomb.png" alt="bomb">
					    	<div class="card-body">
					      		<h5 class="card-title" th:text="${weapons.get(1).getName()}">none</h5>
					      		<p class="card-text" th:text="${weapons.get(1).getDescription()}">Description</p>
					      		<a class="btnBack text-center" th:if="${!weapons.get(1).isActive()}" th:href="@{'/game/store/sell/' + ${weapons.get(1).getName()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					      		  	<h5> Sell </h5>
								</a>
					    	</div>
				    	</div>
				  	</div>
				  	
				  	<!-- MORTAR -->
				  	<div class="card">
					  	<a th:if="${!weapons.get(2).getIsBuy()}" th:href="@{'/game/store/buy/' + ${weapons.get(2).getName()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					    	<img class="card-img-top bgWeapon" src="/img/weapon/normal/mortar.png" alt="mortar">
					    	<div class="card-body">
					      		<h5 class="card-title" th:text="${weapons.get(2).getName()}">none</h5>
					      		<p class="card-text" th:text="${weapons.get(2).getDescription()}">Description</p>
					    	</div>
				    	</a>
				    	
				    	<div th:if="${weapons.get(2).getIsBuy()}">
					    	<img class="card-img-top bgWeapon" src="/img/weapon/empty/mortar.png" alt="mortar">
					    	<div class="card-body">
					      		<h5 class="card-title" th:text="${weapons.get(2).getName()}">none</h5>
					      		<p class="card-text" th:text="${weapons.get(2).getDescription()}">Description</p>
					      		<a class="btnBack text-center" th:if="${!weapons.get(2).isActive()}" th:href="@{'/game/store/sell/' + ${weapons.get(2).getName()} + '/' + ${numShipSelected} + '/' + ${isVertical}}">
					      		  	<h5> Sell </h5>
								</a>
					    	</div>
				    	</div>
				  	</div>
				  	
				  	<!-- MORTAR -->
				  	<div class="card">
				    	<div class="card-body">
				      		<h5 class="card-title">Not available</h5>
				      		<p class="card-text">Comming soon</p>
				    	</div>
				  	</div>
				  	
				  	<!-- MORTAR -->
				  	<div class="card">
				    	<div class="card-body">
				      		<h5 class="card-title">Not available</h5>
				      		<p class="card-text">Comming soon</p>
				    	</div>
				  	</div>
				  	
				  	<!-- MORTAR -->
				  	<div class="card">
				    	<div class="card-body">
				      		<h5 class="card-title">Not available</h5>
				      		<p class="card-text">Comming soon</p>
				    	</div>
				  	</div>
				  	
				  	<!-- MORTAR -->
				  	<div class="card">
				    	<div class="card-body">
				      		<h5 class="card-title">Not available</h5>
				      		<p class="card-text">Comming soon</p>
				    	</div>
				  	</div>

				</div>
        	</div>
	        	
        </header>
        
   
        
        <!-- Footer-->
        <footer class="bgFoot py-5">
            <div class="container">
            	<div class="small text-center text-muted">Created by DOURVILLE Gaïan, BONNARIC Nicolas, SMANIOTTO Gabriel</div>
            </div>
        </footer>
        
        
        
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
