<!DOCTYPE html>
<html lang="en">



    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>| Faster Than Sea |</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <link href="/css/styles.css" rel="stylesheet"/>
        <link href="/css/layout.css" rel="stylesheet"/>
        <link href="/css/gamePreparation.css" rel="stylesheet"/>
    </head>
    
    
    
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <a class="title">FASTER THAN SEA</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </nav>
        
        
        
        <!-- Masthead-->
        <header class="bgPreparation">
        	<div class="container">
				<div class="row">
				
					<!-- PLAYER TAB -->
					<h5 th:text="${playerLifeRemaining}" class="text-center"> Life remaining : error </h5>
	  				<div class="grid col-md-4">
	  					<table class="table-bordered scene">
				
							<thead>
							    <tr class="text-center">
							    	<th scope="col"></th>
								    <th scope="col">A</th>
								    <th scope="col">B</th>
								    <th scope="col">C</th>
								    <th scope="col">D</th>
								    <th scope="col">E</th>
								    <th scope="col">F</th>
								    <th scope="col">G</th>
								    <th scope="col">H</th>
								    <th scope="col">I</th>
								    <th scope="col">J</th>
							    </tr>
							</thead>
					
							<tbody>
								<tr th:each="x : ${#numbers.sequence(0, 9)}">
									<td th:each="y : ${#numbers.sequence(-1, 9)}">											
										<h5 class="text-center" th:if="${y == -1}" th:text="${x+1}"></h5>
										
										<!-- WATER SQUARE -->
									    <img th:if="${y != -1 && playerSquares.get(x + y*10).getState().compareTo('e') == 0}" src="/img/square/water.png">
										
										<!-- BOAT SQUARE -->
										<img th:if="${y != -1 && playerSquares.get(x + y*10).getState().compareTo('f') == 0}" src="/img/square/boat.png">
										
										<!-- DESTROYED PART -->
										<img th:if="${y != -1 && playerSquares.get(x + y*10).getState().compareTo('d') == 0}" src="/img/square/touch.png">
										
										<!-- MISSED CASE -->
										<img th:if="${y != -1 && playerSquares.get(x + y*10).getState().compareTo('n') == 0}" src="/img/square/missed.png">
										
									</td>
								</tr>
							</tbody>
				
						</table>
						
					</div>
					
					
					<!-- ENEMI TAB -->
					<h5 th:text="${ennemyLifeRemaining}" class="text-center"> Life remaining : error </h5>
	  				<div class="col-md-4">
	  					<table class="table-bordered scene">
				
							<thead>
							    <tr class="text-center">
							    	<th scope="col"></th>
								    <th scope="col">A</th>
								    <th scope="col">B</th>
								    <th scope="col">C</th>
								    <th scope="col">D</th>
								    <th scope="col">E</th>
								    <th scope="col">F</th>
								    <th scope="col">G</th>
								    <th scope="col">H</th>
								    <th scope="col">I</th>
								    <th scope="col">J</th>
							    </tr>
							</thead>
					
							<tbody>
								<tr th:each="x : ${#numbers.sequence(0, 9)}">
									<td th:each="y : ${#numbers.sequence(-1, 9)}">											
										<h5 class="text-center" th:if="${y == -1}" th:text="${x+1}"></h5>
										
										<!-- CLOUD CASE -->
										<a th:if="${y != -1 && ennemyLifeRemaining != 0 && playerLifeRemaining != 0}" th:href="@{'/game/fight/' + ${y} + '/' + ${x}}">											 
									     	<img th:if="${ennemySquares.get(x + y*10).getState().compareTo('e') == 0 || ennemySquares.get(x + y*10).getState().compareTo('f') == 0}"
									     	 src="/img/square/cloud.png">
										</a>
										<img th:if="${y != 1 && (ennemyLifeRemaining == 0 || playerLifeRemaining == 0) && (ennemySquares.get(x + y*10).getState().compareTo('e') == 0 
											|| ennemySquares.get(x + y*10).getState().compareTo('f') == 0)}"
									     	 src="/img/square/cloud.png">
										
										<!-- DESTROYED CASE -->
										<img th:if="${y != -1 && ennemySquares.get(x + y*10).getState().compareTo('d') == 0}" src="/img/square/touch.png">
										
										<!-- MISSED CASE -->
										<img th:if="${y != -1 && ennemySquares.get(x + y*10).getState().compareTo('n') == 0}" src="/img/square/missed.png">
										
									</td>
								</tr>
							</tbody>
				
						</table>
						
					</div>
										
				</div>
			</div>
        </header>
        
   
        
        <!-- Footer-->
        <footer class="bgFoot py-5">
            <div class="container">
            	<div class="small text-center text-muted">Created by DOURVILLE Gaïan, BONNARIC Nicolas, SMANIOTTO Gabriel</div>
            </div>
        </footer>
        
        
        
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
